.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.navigationButton {
  width: 40%;
  margin: 12px;
  background-color: #ff69b4;
}
.MuiButtonBase-root.MuiBottomNavigationAction-root {
  color: #ababab;
}
.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
  color: #ff69b4;
}
